 <template>
  <div>
    <md-tabs md-sync-route>
      <md-tab id="tab-home" md-label="Home" >
      <p>Unde provident nemo reiciendis officia, possimus repellendus. Facere dignissimos dicta quis rem. Aliquam aspernatur dolor atque nisi id deserunt laudantium quam repellat.</p>
      </md-tab>
	  
      <md-tab id="tab-pages" md-label="Pages" >
        	<cards></cards>
	  </md-tab>

      <md-tab id="tab-posts" md-label="Posts" >
        <tables></tables>
	  </md-tab>

      <md-tab id="tab-favorites" md-label="Favorites" >
        Favorites tab
        <p>Maiores, dolorum. Beatae, optio tempore fuga odit aperiam velit, consequuntur magni inventore sapiente alias sequi odio qui harum dolorem sunt quasi corporis.</p>
      </md-tab>
    </md-tabs>
  </div>
</template>

<script>
export default { 

}
</script>