<template>
 
<form novalidate class="md-layout">
    <md-card class="md-layout-item md-size-100 md-small-size-100">
        <md-card-header>
          <div class="md-title">Product adding</div>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
		      <div class="md-layout-item md-size-20">
              <md-field>
                <label for="last-name">Barcode</label>
                <md-input v-model="product.barcode" autocomplete="off" name="product.barcode" id="barcode" />
              </md-field>
            </div>
             <div class="md-layout-item md-size-20">
              <md-field :class="getValidationClass('name')">
                <label for="last-name">Name</label>
                <md-input v-model="product.name" autocomplete="off" name="name" id="name" />
				  <span class="md-error" v-if="!$v.product.name.required">The email is required</span>
				   <span class="md-error" v-else-if="!$v.product.name.maxlength">Invalid age</span>
              </md-field>
            </div>

            <div class="md-layout-item md-size-15">
              <md-field >
                <label for="last-name">Enter price</label>
                <md-input v-model="product.enterPrice" autocomplete="off" name="enterPrice" id="enterPrice" />
              
              </md-field>
            </div>
			  <div class="md-layout-item md-size-15">
              <md-field >
                <label for="last-name">Sell price</label>
                <md-input v-model="product.sellPrice" autocomplete="off" name="sellPrice" id="sellPrice" />
              </md-field>
            </div>
			
			  <div class="md-layout-item md-size-10">
              <md-field >
                <label for="last-name">Count</label>
                <md-input v-model="product.count" name="count" id="count" />
              </md-field>
            </div>
			  <md-button class="md-primary" v-on:click="saveProduct()" style="min-height:60px;min-width:60px"><md-icon class="md-size-2x" md-src="./icons/save.svg" /></md-button>
		</div>
		 </md-card-content>
	  </md-card>
     </form> 

</template>
	
 <script>
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'
 
  export default {
     data: () => ({
      product: {
	  barcode:null,
	  name:null,
	  enterPrice:null,
	  sellPrice:null,
	  count:null
	  } 
	  }),
	  mixins: [validationMixin],
	  validations: {
	  product: {
        name: {
          required,
          minLength: minLength(3)
        }
	   }	
	  },
	  methods: {
	  getValidationClass (fieldName) {
        const field = this.$v.product[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
	  saveProduct()
	   {
	     this.$v.product.$touch();
         if(this.$v.product.$error) 
		 {
		 console.log(this.$v.product.name.required) ;
		 return;
		 }
	      Vue.axios.post("/save-product", this.product).then((response) => {
		})
	   }
	  }
  }
</script>