<template>
  <div>

  
  <router-link to="/AddProduct" class="md-raised md-primary">
   <md-button class="md-raised md-primary">Add product</md-button>
   </router-link>
   
    <md-table>
      <md-table-row>
        <md-table-head md-numeric>ID</md-table-head>
        <md-table-head>Barcode</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Enter price</md-table-head>
        <md-table-head>Sell price</md-table-head>
        <md-table-head>Count</md-table-head>
      </md-table-row> 
    
      <md-table-row v-for="product in products" v-bind:key="product.id">
        <md-table-cell md-numeric>{{product.id}}</md-table-cell>
        <md-table-cell>{{product.barcode}}</md-table-cell>
        <md-table-cell>{{product.name}}</md-table-cell>
        <md-table-cell>{{product.enterPrice}}</md-table-cell>
        <md-table-cell>{{product.sellPrice}}</md-table-cell>
        <md-table-cell>{{product.count}}</md-table-cell>
      </md-table-row>
    
    </md-table>
  </div>
</template>
  
<script>
 
  export default {
    name: 'ProductsComponent',
    mounted:function(){
        this.getProducts();
    },
	data: function()
	{
	   return {
	   products : []
	  }
	},
	 methods: {
	  getProducts()
	   {
	      Vue.axios.get("/get-products").then((response) => {
		  this.products = response.data.products;
		  
		});
	   }
	  }
  }
</script>